html {
  scroll-behavior: smooth; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: white; }

.dropdown-toggle::after {
  display: none; }

.navbar-light {
  margin-top: 50px;
  background-color: white;
  box-shadow: 0 4px 4px -6px #333; }

#navbarDropdown {
  padding: 25px 15px;
  transition: 0.2s;
  color: #333; }

#navbarDropdown:hover {
  transition: 0.2s;
  color: #3AB3DF; }

.dropdown-menu {
  border: none; }
  .dropdown-menu .dropdown-item {
    padding: 15px 25px; }
  .dropdown-menu .dropdown-item:hover {
    background-color: #d5eaff;
    color: #3AB3DF; }

.header-bg {
  height: 50px;
  background: linear-gradient(90deg, #3ab3df 0%, #3ab3df 50%, #556877 50%, #556877 100%); }

.header-row {
  color: white;
  font-size: 15px;
  height: 50px;
  overflow: hidden; }
  .header-row .inner {
    height: 50px; }
  .header-row .blue {
    padding: 14px 15px; }

.top-mail {
  border-right: 1px solid white; }

.blue {
  background-color: #3AB3DF; }

.gray {
  background-color: #556877; }

.fa-white {
  color: white;
  transition: 0.2s; }

.fa-white:hover {
  color: #3AB3DF;
  transition: 0.2s; }

.fa-blue {
  color: #3AB3DF; }

.jumbo-carousel {
  margin-top: 140px; }
  .jumbo-carousel a .icon-holder {
    height: 40px;
    width: 40px;
    background-color: #35414b; }

.carousel-caption {
  transform: translateY(-50%);
  bottom: initial;
  top: 50%; }
  .carousel-caption h2 {
    font-weight: 400;
    font-size: 60px; }
    .carousel-caption h2 p {
      font-weight: 700; }

.more-info {
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  color: #FFF; }

.image {
  position: relative; }
  .image img {
    object-fit: cover; }

.image:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1; }

.book {
  margin-top: -140px; }
  .book .row .col-lg-4 {
    height: 285px;
    background: white; }
  .book .row .col-lg-4:last-child {
    background: #3AB3DF; }
  .book .contact-image {
    position: relative; }
    .book .contact-image img {
      object-fit: cover; }
  .book .contact-image:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 285px;
    top: 0;
    left: 0;
    background: #3ab3df96;
    opacity: 1; }
  .book .contact-info {
    width: 100%;
    margin-top: -80px; }
    .book .contact-info h5 {
      color: white;
      font-weight: 400; }
      .book .contact-info h5 span {
        font-weight: 600; }
  .book .hours-tab {
    color: #35414b;
    padding: 48px 36px; }
    .book .hours-tab h3 {
      font-weight: 600;
      font-size: 21px; }
    .book .hours-tab .span-schedule {
      color: #516163;
      font-weight: 500;
      font-size: 14px; }
  .book .contact-tab {
    color: white;
    padding: 48px 36px; }
    .book .contact-tab h3 {
      font-weight: 600;
      font-size: 21px;
      margin-bottom: 24px; }
    .book .contact-tab .form-control {
      font-size: 13px;
      padding: 9px 12px;
      border-radius: 40px;
      margin-bottom: 10px;
      border: none; }
    .book .contact-tab .btn {
      font-weight: 600;
      background-color: #f0a889;
      color: white; }

.schedule-day {
  font-weight: 600; }

.about {
  margin-top: 75px; }
  .about .about-home .row {
    margin-bottom: 30px; }
  .about h5 {
    color: #DDD;
    font-weight: 600;
    font-size: 17px; }
  .about h2 {
    color: #35414b;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 25px; }
  .about p {
    color: #8C8C9E;
    line-height: 2; }
  .about h3 {
    color: #35414b;
    font-weight: 600;
    font-size: 22px; }
  .about .bullets p {
    margin-bottom: 5px; }
  .about .bullets p::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: #3AB3DF;
    margin-right: 10px; }
  .about img {
    padding-top: 25px; }
  .about .about-video {
    height: 490px; }
    .about .about-video .img-holder {
      position: relative;
      height: inherit;
      overflow: hidden; }
      .about .about-video .img-holder img {
        width: 100%;
        height: inherit;
        object-fit: cover;
        padding: 0;
        transition: 0.2s; }
      .about .about-video .img-holder img:hover {
        transition: 0.4s;
        transform: scale(1.1); }
      .about .about-video .img-holder .play-button {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 60px;
        height: 60px;
        background-color: #EF8354;
        border-radius: 50px;
        transition: 0.2s; }
        .about .about-video .img-holder .play-button i {
          color: white; }
  .about .about-video:hover {
    cursor: pointer; }
    .about .about-video:hover .play-button {
      transition: 0.2s;
      box-shadow: 0px 0px 0px 25px rgba(255, 84, 10, 0.3); }

.jumbo-why {
  margin-top: 75px;
  background-color: white; }
  .jumbo-why .why-img {
    height: 500px;
    z-index: 2; }
    .jumbo-why .why-img img {
      object-fit: cover;
      object-position: center; }
  .jumbo-why .why-content {
    width: 100%;
    margin-top: 75px;
    margin-left: -95px;
    background-color: #35414b;
    color: white;
    z-index: 2; }
    .jumbo-why .why-content .inner-content {
      padding: 75px 50px 35px 50px; }
      .jumbo-why .why-content .inner-content .panel-title {
        border-left: 6px solid #3AB3DF;
        padding-left: 20px;
        margin-bottom: 20px; }
        .jumbo-why .why-content .inner-content .panel-title h5 {
          font-size: 16px;
          font-weight: 500; }
        .jumbo-why .why-content .inner-content .panel-title h2 {
          font-size: 35px;
          font-weight: 700; }
      .jumbo-why .why-content .inner-content p {
        font-size: 16px;
        line-height: 2; }
      .jumbo-why .why-content .inner-content hr {
        margin-top: 35px;
        margin-bottom: 50px;
        border-top: 1px solid rgba(58, 179, 223, 0.5); }
      .jumbo-why .why-content .inner-content .span-services h4 {
        font-weight: 600;
        font-size: 20px; }
      .jumbo-why .why-content .inner-content .span-services p {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.7; }

.jumbo-stats .stats-section::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #3AB3DF, #3AB3DF);
  opacity: 0.9; }

.jumbo-stats .stats-section {
  background-image: url(../../img/template16/denta-patterm.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  margin: -60px 0 0 0; }
  .jumbo-stats .stats-section .container {
    margin: 120px auto 55px auto; }
    .jumbo-stats .stats-section .container .box {
      margin-bottom: 40px; }
  .jumbo-stats .stats-section h1 {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px; }
  .jumbo-stats .stats-section p {
    font-size: 15px;
    margin-bottom: 0px; }

.service-section {
  margin-top: 75px; }
  .service-section .section-title {
    width: 50%;
    margin: 0 auto 40px auto;
    line-height: 1.8; }
    .service-section .section-title h2 {
      font-weight: 600;
      font-size: 35px;
      color: #35414b; }
    .service-section .section-title h2::after {
      content: '';
      display: block;
      background: #3AB3DF;
      width: 80px;
      height: 5px;
      margin: 15px auto; }
    .service-section .section-title p {
      font-weight: 400;
      color: #8C8C9E; }
  .service-section .img-container {
    width: 100px;
    height: 100px;
    background-color: #F7FAFA;
    border-radius: 50px;
    margin: 0 auto 0 auto; }
  .service-section .cards-container .cards {
    padding: 35px;
    margin: 10px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.19); }
  .service-section .cards-container h1 {
    font-weight: 600;
    font-size: 20px;
    color: #35414b;
    margin: 25px 0 25px 0; }
  .service-section .cards-container p {
    font-weight: 400;
    font-size: 16px;
    color: #8C8C9E;
    line-height: 1.6;
    margin: 0; }
  .service-section .cards-container h5 {
    font-weight: 600;
    font-size: 17px;
    color: #3AB3DF;
    margin: 35px 0 15px 0;
    cursor: pointer; }

.jumbo-testimonials {
  margin: 75px 0 75px 0;
  background-image: linear-gradient(0deg, rgba(53, 65, 75, 0.9), rgba(53, 65, 75, 0.9)), url("../../img/template16/img2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .jumbo-testimonials .container {
    padding: 100px 0 90px 0;
    color: white; }
    .jumbo-testimonials .container h5 {
      font-style: italic;
      font-size: 16px;
      font-weight: 600; }
    .jumbo-testimonials .container h2 {
      font-weight: 600;
      font-size: 33px; }
    .jumbo-testimonials .container h2::after {
      background-color: #3AB3DF;
      content: '';
      display: block;
      height: 5px;
      margin: 20px 0px;
      width: 80px; }
    .jumbo-testimonials .container strong {
      font-style: italic;
      font-size: 15px;
      line-height: 1.9; }
    .jumbo-testimonials .container p {
      font-size: 15px;
      line-height: 1.9; }
    .jumbo-testimonials .container #tm-carousel .testimonial-cards {
      padding: 35px;
      margin-bottom: 15px;
      background-color: white; }
      .jumbo-testimonials .container #tm-carousel .testimonial-cards .tm-card .tm-msg {
        position: relative; }
      .jumbo-testimonials .container #tm-carousel .testimonial-cards .tm-card .tm-msg::after {
        content: '\201D';
        position: absolute;
        top: 25px;
        right: 0;
        font-family: 'sherif';
        font-style: italic;
        font-size: 144px;
        color: #e7e6e4; }
      .jumbo-testimonials .container #tm-carousel .testimonial-cards .tm-card p {
        font-style: italic;
        font-size: 16px;
        color: #737373;
        line-height: 1.5;
        z-index: 2; }
      .jumbo-testimonials .container #tm-carousel .testimonial-cards .tm-card .tm-details {
        margin-top: 35px; }
        .jumbo-testimonials .container #tm-carousel .testimonial-cards .tm-card .tm-details img {
          width: 60px;
          height: 60px;
          border-radius: 50px; }
        .jumbo-testimonials .container #tm-carousel .testimonial-cards .tm-card .tm-details .caption h4 {
          font-size: 16px;
          font-weight: 400;
          color: #35414b; }
        .jumbo-testimonials .container #tm-carousel .testimonial-cards .tm-card .tm-details .caption strong {
          font-size: 15px;
          font-weight: 600;
          font-style: normal; }
        .jumbo-testimonials .container #tm-carousel .testimonial-cards .tm-card .tm-details .caption i {
          font-size: 13px;
          color: #eb662d; }
    .jumbo-testimonials .container .carousel-indicators {
      position: initial;
      padding-top: 20px; }
      .jumbo-testimonials .container .carousel-indicators li {
        width: 15px;
        height: 15px;
        border-radius: 50%; }
      .jumbo-testimonials .container .carousel-indicators li.active {
        background-color: #eb662d; }

.about-denteur .title {
  margin-bottom: 35px;
  border-left: solid 6px #3AB3DF;
  padding-left: 20px; }
  .about-denteur .title h5 {
    color: #DDD;
    font-size: 17px; }
  .about-denteur .title h2 {
    font-size: 35px;
    font-weight: 600;
    color: #35414b; }

.about-denteur .description p {
  color: #8C8C9E;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 25px; }

.about-denteur .description strong {
  font-weight: 600;
  color: #333;
  font-style: italic; }

.about-denteur .description #accordion .card {
  border: none;
  margin-bottom: 20px;
  background-color: #F7FAFA; }
  .about-denteur .description #accordion .card .card-header {
    border-bottom: none;
    background-color: #F7FAFA;
    cursor: pointer; }

.about-denteur .description #accordion h5 {
  font-size: 17px;
  font-weight: 600;
  color: #3AB3DF; }

.about-denteur .description #accordion i {
  color: #3AB3DF;
  transform: rotate(90deg);
  transition: 0.3s; }

.about-denteur .description #accordion .card.collapsed i {
  transition: 0.3s;
  transform: rotate(0deg); }

.about-denteur .description #accordion p {
  color: #516163;
  padding: 0px 20px; }

.about-denteur img {
  width: 100%;
  height: 545px;
  object-fit: cover; }

.care {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../../img/template16/img65.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 75px auto;
  padding: 75px 0; }
  .care .box {
    padding: 50px;
    background: white;
    border-left: solid 5px #3AB3DF;
    box-shadow: -1px 1px 9px 4px rgba(204, 204, 204, 0.81); }
    .care .box h2 {
      font-weight: 600;
      font-size: 35px;
      font-style: italic;
      color: #35414b; }
    .care .box p {
      font-size: 16px;
      color: #8C8C9E;
      font-weight: 400;
      line-height: 2; }
    .care .box .btn-red {
      color: white;
      background: #eb662d; }

.news .title {
  width: 50%; }
  .news .title h2 {
    font-weight: 600;
    font-size: 35px;
    color: #35414b; }
  .news .title h2::after {
    background: #3AB3DF;
    content: '';
    display: block;
    height: 5px;
    margin: 15px auto;
    width: 80px; }
  .news .title p {
    font-size: 17px;
    color: #8C8C9E;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 40px; }

.news .news-holder {
  margin-bottom: 30px; }

.news .holder-card {
  margin: 0px 10px 0px 10px;
  box-shadow: -1px 1px 9px 4px rgba(227, 227, 227, 0.81);
  height: 100%;
  overflow: hidden;
  cursor: pointer; }
  .news .holder-card img {
    object-fit: cover;
    width: 100%;
    transition: 0.3s; }
  .news .holder-card img:hover {
    transform: scale(1.1);
    transition: 0.3s; }
  .news .holder-card .news-card {
    position: relative;
    margin: -50px 15px 0px 15px;
    padding: 20px;
    background: white;
    z-index: 2; }
    .news .holder-card .news-card .news-date {
      width: 50px;
      height: 50px;
      background-color: #eb662d;
      margin-right: 10px;
      color: white; }
      .news .holder-card .news-card .news-date p {
        margin-bottom: 0px;
        line-height: 0.8;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        color: white; }
      .news .holder-card .news-card .news-date span {
        font-weight: 400;
        font-size: 14px; }
    .news .holder-card .news-card h5 {
      font-weight: 600;
      font-size: 18px;
      color: #212529;
      margin-bottom: 20px; }

footer {
  background-color: #35414b;
  color: white;
  margin-top: 60px;
  padding: 10px 0 50px 0; }
  footer .container {
    margin: 25px auto 10px auto; }
  footer h4 {
    font-size: 16px;
    font-weight: 600; }
  footer h4::after {
    background: #3AB3DF;
    content: '';
    display: block;
    height: 3px;
    margin: 15px 0px 20px;
    width: 60px; }
  footer .footer-contact {
    margin-bottom: 30px; }
    footer .footer-contact p {
      line-height: 1.5;
      margin-top: 15px;
      font-size: 16px; }
    footer .footer-contact .contact-info .row {
      margin: 20px 0px; }
      footer .footer-contact .contact-info .row i {
        color: #3AB3DF; }
      footer .footer-contact .contact-info .row p {
        line-height: 1.5;
        font-size: 14px;
        margin: 0; }
  footer .footer-recent {
    margin-bottom: 30px; }
    footer .footer-recent .recent-post {
      cursor: pointer; }
      footer .footer-recent .recent-post .img-container {
        width: 70px;
        height: 70px;
        padding: 0; }
      footer .footer-recent .recent-post .post-caption h5 {
        font-size: 15px;
        line-height: 1.3;
        font-weight: 600; }
      footer .footer-recent .recent-post .post-caption p {
        font-size: 13px;
        line-height: 1.5;
        margin: 0; }
    footer .footer-recent hr {
      margin: 20px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.2); }
  footer .footer-links {
    margin-bottom: 30px; }
    footer .footer-links .links ul {
      padding: 0; }
    footer .footer-links .links li::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f101";
      margin-right: 10px; }
    footer .footer-links .links li {
      font-size: 15px;
      font-weight: 400;
      line-height: 2.5;
      list-style-type: none; }
      footer .footer-links .links li a {
        color: white;
        text-decoration: none;
        transition: 0.2s; }
      footer .footer-links .links li a:hover {
        color: #3AB3DF;
        transition: 0.2s; }
  footer .footer-insta .insta-pics .pic-container {
    padding: 3px;
    overflow: hidden;
    cursor: pointer; }
    footer .footer-insta .insta-pics .pic-container a img {
      object-fit: cover;
      width: 100%;
      transition: 0.2s; }
    footer .footer-insta .insta-pics .pic-container a img:hover {
      transform: scale(1.1);
      transition: 0.2s; }
  footer hr {
    margin: 30px 0 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
  footer .footer-bottom {
    margin: 0;
    margin-top: 30px; }
    footer .footer-bottom .footer-social a {
      color: white;
      transition: 0.2s; }
      footer .footer-bottom .footer-social a i {
        margin-right: 20px; }
    footer .footer-bottom .footer-social a:hover {
      color: #3AB3DF;
      transition: 0.2s; }

#toTopBtn {
  position: fixed;
  height: 64px;
  width: 64px;
  bottom: 26px;
  right: 39px;
  z-index: 98;
  padding: 21px;
  background-color: #3AB3DF;
  border-radius: 100%;
  color: white;
  opacity: 0.5; }

@media (max-width: 1199px) {
  .jumbo-why .why-content {
    margin: 0px; } }

@media (max-width: 991px) {
  .header-bg .container {
    margin: 0; }
  .navbar .container {
    margin: 0; }
  .jumbo-carousel {
    margin-top: 105px; }
  .service-section .section-title {
    width: 100%; }
  .news .title {
    width: 100%; } }

@media (max-width: 767px) {
  .navbar {
    margin-top: 0px; }
    .navbar .container {
      margin: 0; }
  .jumbo-carousel {
    margin-top: 56px; }
  .book {
    margin-top: 50px; }
  .carousel-caption h2 {
    font-size: 40px; }
  .jumbo-why .why-content .inner-content {
    padding: 35px 0; } }
