//Color Scheme
$gray: #556877;
$light-gray: #DDD;
$blue: #3AB3DF;
$orange-btn: #eb662d;

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
}

.jumbo-header{
    margin-top: 140px;
}